<?xml version="1.0" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="./logs/nlogs.log"
>

	<variable name="logdir" value="./logs"/>
	<variable name="logLevel" value="Trace" />
	<variable name="logContext" value="[${uppercase:${level:truncate=1}}][${threadid:padding=2}|${lowercase:${scopeproperty:scopeId:truncate=3:padding=4}}]${event-properties:item=EventId_Id} ${callsite:includeNamespace=false:methodName=true}_${callsite-linenumber} : ${message} ${onexception:${newline}${exception:format=tostring}}"/>

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="Aicrosoft.Extensions.NLog" />
		<add assembly="NLog.MailKit"/>
	</extensions>

	<!-- the targets to write to -->
	<targets async="false">

		<default-target-parameters
			  type="File"
			  archiveAboveSize="104857600"
			  maxArchiveFiles="2"
			  maxArchiveDays="30"
			  keepFileOpen="false"
			  layout="${longdate} ${var:logContext}"/>

		<!--colorconsole-->
		<target name="console" xsi:type="ColoredConsole"
					layout="${date:format=HH\:mm\:ss\.ffff}:${var:logContext}">
			<highlight-row condition="level == LogLevel.Trace"  foregroundColor="DarkGray"/>
			<highlight-row condition="level == LogLevel.Debug"  foregroundColor="DarkCyan"/>
			<highlight-row condition="level == LogLevel.Info"  foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Warn"  foregroundColor="DarkYellow" />
			<highlight-row condition="level == LogLevel.Error"  foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal"  foregroundColor="DarkRed" backgroundColor="Yellow"/>
		</target>

		<!-- all log trace -->
		<target name="runLog" xsi:type="File"
					fileName="${logdir}/${date:format=yyyy_MM_dd}.log"
             />

		<!-- only for error -->
		<target name="errorLog" xsi:type="File"
					fileName="${logdir}/${date:format=yyyy_MM_dd}_ex.log"
           />

		<!-- MailLog -->
		<target name="asyncMail" xsi:type="AsyncWrapper" queueLimit="100" overflowAction="Discard">
			<target name="batchMail" xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="1200000" slidingTimeout="true">
				<target name="mail" xsi:type="MailKit"
						smtpServer="smtp.163.com"
						smtpPort="465"
						enableSsl="true"
						smtpAuthentication="Basic"
						smtpUserName="aicrosoft@163.com"
						smtpPassword="KEbxQLqnydaWB7i8"
						from="aicrosoft@163.com"
						to="superJob@abcdeep.net"
						subject="JobAgent Warnning"
						body="${longdate} ${var:logContext} ${newline}${newline}"
				 />
			</target>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Warn" writeTo="asyncMail" />
		<logger name="*" minlevel="${var:logLevel}" writeTo="runLog" >
			<filters  defaultAction='log'>
				<when condition="starts-with('${logger}','Microsoft.')" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="error" writeTo="errorLog" />
	</rules>

</nlog>